---
swagger: "2.0"
info:
  description: "API para APPS de programas"
  version: "1.0"
  title: "BLUe AppAPI"
host: "bluetest.mx"
basePath: "/bedbathandbeyond/BlueEngine_JWS/Service1.svc"
tags:
- name: "usuario"
  description: "Operaciones de usuario"
- name: "tarjeta"
  description: "Operaciones de tarjeta física y plástica"
- name: "sucursales"
  description: "Listado de sucursales y estados donde se encuentran"
- name: "utilidades"
  description: "Listas de contenidos"
- name: "carritoVirtual"
  description: "¿Carrito virtual?"
# - name: "pet"
#   description: "Everything about your Pets"
# - name: "store"
#   description: "Access to Petstore orders"
# - name: "user"
#   description: "Operations about user"
schemes:
- "https"
paths:
  /PostUser_Access:
    post:
      tags:
      - "usuario"
      summary: "¿?"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          type: object
          properties:
            UID:
              type: string
              description: Numerito UID
            LocalOffset:
              type: string
            Country:
              type: string
            AppName:
              type: string
            DataService:
              type: string
            Val:
              type: string
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"

  /App_GetNationality:
    post:
      tags:
      - "utilidades"
      summary: "Obtener listado de nacionalidades"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"

  /App_GetMaritalStatus:
    post:
      tags:
      - "utilidades"
      summary: "Obtener listado de estatus maritales"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"

  /App_ValidateZipCodeInfo:
    post:
      tags:
      - "utilidades"
      summary: "Validar código postal. Regresa  información del CP."
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          type: object
          properties:
            ZipCode:
              type: string
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"

        
  /App_GetOyP_Cart:
    post:
      tags:
      - "carritoVirtual"
      summary: "Obtener Carrito virtual??"
      consumes:
      - "application/text"
      produces:
      - "application/json"


  /App_PostOyP_Cart:
    post:
      tags:
      - "carritoVirtual"
      summary: "Añadir items al Carrito virtual??"
      consumes:
      - "application/text"
      produces:
      - "application/json"

  /App_PostOpenPay_Charge:
    post:
      tags:
      - "carritoVirtual"
      summary: "¿?"
      consumes:
      - "application/text"
      produces:
      - "application/json"



  /App_RegisterNewUser_V110:
    post:
      tags:
      - "usuario"
      summary: "Nuevo usuario"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
            $ref: "#/definitions/UserAll"
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"
  
  /App_AuthenticateUser_V113:
    post:
      tags:
      - "usuario"
      summary: "Login: Autenticar usuario"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
            $ref: "#/definitions/UserInfo"
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"


  /App_PostSignOut:
    post:
      tags:
      - "usuario"
      summary: "Logout"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
            properties:
              UserName:
                type: string
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"

  /App_UpdateUserInfo_V110:
    post:
      tags:
      - "usuario"
      summary: "Actualizar datos de usuario"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          $ref: "#/definitions/UserAll"
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"


  /App_GetUserInfo_V125:
    post:
      tags:
      - "usuario"
      summary: "Obtener información de usuario"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          $ref: "#/definitions/UserInfo"
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"
  
  /App_PostVirtualCard:
    post:
      tags:
      - "tarjeta"
      summary: "Crear tarjeta virtual"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
            $ref: "#/definitions/CardInfo"
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"
          
  /App_ValidateCardInfo_V110:
    post:
      tags:
      - "tarjeta"
      summary: "Validar tarjeta física"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
            properties:
              PlasticCardID:
                type: string
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"
          


  /App_GetStores_V126:
    post:
      tags:
      - "sucursales"
      summary: "Listar sucursales"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          properties:
            UserName:
              type: string
            Active:
              type: string
              default: '1'
            StateID:
              type: string
              description: Obtenido de /App_GetStates
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"

  /App_GetStates:
    post:
      tags:
      - "sucursales"
      summary: "Listar estados donde hay sucursales"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          properties:
            UserName:
              type: string
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"

  /App_ValidateEmail:
    post:
      tags:
      - "utilidades"
      summary: "Validar correo electrónico ### No funciona"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          properties:
            Email:
              type: string
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"


  /App_GeStatustoCancelCard:
    post:
      tags:
      - "tarjeta"
      - "utilidades"
      summary: "Lista de status para cancelar tarjeta"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          properties:
            UserName:
              type: string
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"

  /App_GetVirtualCards:
    post:
      tags:
      - "tarjeta"
      - "utilidades"
      summary: "Lista de tarjetas virtuales"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          properties:
            HWID:
              type: string
            ProductID:
              type: string
            LocalOffset:
              type: string
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"

  /App_CancelCard:
    post:
      tags:
      - "tarjeta"
      summary: "Cancelar tarjeta"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          properties:
            UID:
              type: string
            CardStatus:
              type: string
              description: Valor que se obtiene de /App_GeStatustoCancelCard
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"
          
  /App_GetTransactions:
    post:
      tags:
      - "usuario"
      summary: "Obtener transacciones"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          properties:
            BeginDate:
              type: string
            EndDate:
              type: string
            CustomerID:
              type: string
            AccountType:
              type: string
              default: 1
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"
  
  
  /App_RecoverEmail:
    post:
      tags:
      - "usuario"
      summary: "Recuperar contraseña"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          properties:
              UID:
                type: string
                description: User email
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"


  /App_GetNotifications:
    post:
      tags:
      - "usuario"
      summary: "Obtener transacciones"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          $ref: "#/definitions/UserInfoAlt"
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"
          
  /App_GetPromotions_General_V110:
    post:
      tags:
      - "usuario"
      summary: "Obtener promociones"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          $ref: "#/definitions/UserInfo"
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"

  /App_GetPromotions_General_Details_V111:
    post:
      tags:
      - "usuario"
      summary: "Obtener detalle de promoción"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: "body"
        schema:
          allOf:
          - $ref: "#/definitions/UserInfo"
          - type: object
            properties:
              RegID:
                type: string
              PromotionRegID:
                type: string
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiResponse"
          

    
#####################################################################
#####################################################################
#####################################################################

definitions:
  UserInfo:
    type: "object"
    properties:
      UserName:
        type: string
      Password:
        type: string
  UserInfoAlt:
    type: "object"
    properties:
      User:
        type: string
      Password:
        type: string
  UserAll:
    type: "object"
    properties:
      Email:
        type: string
      Password:
        type: string
      CardID:
        type: string
      Firstname:
        type: string
      Lastname:
        type: string
      Lastname2:
        type: string
      BirthDate:
        type: string
      Sex:
        type: string
      Phone:
        type: string
      CellPhone:
        type: string
      ZipCode:
        type: string
      StateID:
        type: string
      Suburb:
        type: string
      County:
        type: string
      RegisterTypeID:
        type: string
      Nacionality:
        type: string
      MaritalStatus:
        type: string
      Ocupation:
        type: string
      Street:
        type: string
  CardInfo:
    type: "object"
    properties:
      HWID:
        type: string
      ProductID:
        type: string
      LocalOffset:
        type: string
      Purchased:
        type: int
        default: 1
      Registered:
        type: int
        default: 1
      CardID:
        type: string
      UID:
        type: string
      Platform:
        type: string
      TransactionID:
        type: string
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"

